<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Programmable Sandbox Sim</title>
    <link href="/output.css" rel="stylesheet">
  </head>
  <body class="h-full antialiased light">
    <div id="app">
        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <header class="bg-white">
                <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
                <div class="flex lg:flex-1">
                    <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Programmable Banking Sandbox</span>
                    <img class="h-8 w-auto" src="/zeb.png" alt="">
                    </a>
                </div>
                <div class="hidden lg:flex lg:gap-x-12">
                    <a href="https://developer.investec.com/za/api-products" target="_blank" class="text-sm font-semibold leading-6 text-gray-900">Documentation</a>
                    <a href="https://investec.gitbook.io/programmable-banking-community-wiki" target="_blank" class="text-sm font-semibold leading-6 text-gray-900">Wiki</a>
                    <a href="https://github.com/devinpearson/programmable-banking-sim" target="_blank" class="text-sm font-semibold leading-6 text-gray-900">GitHub</a>
                    <a href="https://www.postman.com/investec-open-api/workspace/hack-days/collection/26868804-62ce3cf6-3d98-4f62-ad82-b912b9826d51" target="_blank" class="text-sm font-semibold leading-6 text-gray-900">Postman</a>
                </div>
                <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                    <!-- <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a> -->
                </div>
                </nav>
            </header>
            <!-- Server Logs -->
            <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
                <div class="px-4 py-5 sm:p-6">
                    <h2 class="text-lg font-semibold leading-6 text-gray-900">Server Logs</h2>
                </div>
                <div class="px-4 py-5 sm:p-6">
                    <ul role="list" id="messages" v-if="messages" class="divide-y divide-gray-200">
                        <li v-for="item in messages" class="even:bg-gray-50 odd:bg-white">
                            {{ item }}
                        </li>
                    </ul>
                    <p v-else>No logs available. Send a request to view here.</p>
                </div>
            </div>
            <!-- Environment Variables -->
            <div class="my-4 overflow-hidden rounded-lg bg-white shadow">
                <div class="px-4 py-6 sm:p-8">
                    <h2 class="text-base font-semibold leading-7 text-gray-900">Environmental Variables</h2>
        <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-600">Customize the server configuration.</p>
                    <form id="form" @submit.prevent="">
                        <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-8">
                            <div class="sm:col-span-4">
                                <label for="client_id" class="block text-sm font-medium leading-6 text-gray-900">Client Id</label>
                                <div class="mt-2">
                                    <input v-model="client_id" id="client_id" name="client_id" type="input" required="" class="block w-full px-3 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" />
                                </div>
                            </div>
                            <div class="sm:col-span-4">
                                <label for="client_secret" class="block text-sm font-medium leading-6 text-gray-900">Client Secret</label>
                                <div class="mt-2">
                                    <input v-model="client_secret" id="client_secret" name="client_secet" type="input" required="" class="block w-full px-3 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" />
                                </div>
                            </div>
                            <div class="col-span-full">
                                <label for="api_key" class="block text-sm font-medium leading-6 text-gray-900">API Key</label>
                                <div class="mt-2">
                                    <textarea v-model="api_key" id="api_key" name="api_key" rows="3" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm"></textarea>
                                </div>
                            </div>
                            <div class="col-span-2">
                                <label for="token_expiry" class="block text-sm font-medium leading-6 text-gray-900">Token Expiry</label>
                                <div class="mt-2">
                                    <input v-model="token_expiry" id="token_expiry" name="token_expiry" type="input" required="" class="block w-full px-3 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" />
                                </div>
                            </div>
                            <div class="col-span-3">
                                <label for="auth" class="block text-sm font-medium leading-6 text-gray-900">Require Authentication</label>
                                <div class="mt-2">
                                    <select v-model="auth" id="auth" name="auth" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:max-w-xs sm:text-sm sm:leading-6">
                                    <option :value=false>No</option>
                                    <option :value=true>Yes</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
                        <button type="submit" @click="mySubmitMethod" class="rounded-md bg-slate-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-400">Save</button>
                      </div>
                </form>
            </div>
        </div>
    </div>    
    <script src="/socket.io/socket.io.js"></script>
    <script type="module">
        import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
      
        createApp({
          setup() {
          },
          data() {
            return {
                socket: null,
              messages: null,
              api_key: '',
              client_id: '',
              client_secret: '',
                token_expiry: 1799,
                auth: false,
            }
          },
            mounted() {
                this.socket = io();
                this.socket.on('logs', (msg) => {
                    if (!this.messages) {
                        this.messages = [];
                    }
                    this.messages.push(msg);
                    // window.scrollTo(0, document.body.scrollHeight);
                });
                this.socket.on('envs', (msg) => {
                    this.client_id = msg.client_id;
                    this.client_secret = msg.client_secret;
                    this.api_key = msg.api_key;
                    this.token_expiry = msg.token_expiry;
                    if (msg.auth === true || msg.auth === 'true') {
                        this.auth = true;
                    } else {
                        this.auth = false;
                    }
                });
                this.fetchEnv();
            },
          methods: {
            fetchEnv() {
              fetch('/envs')
                .then(response => response.json())
                .then(data => {
                  console.log(data);
                  this.client_id = data.data.client_id;
                  this.client_secret = data.data.client_secret;
                  this.api_key = data.data.api_key;
                  this.token_expiry = data.data.token_expiry;
                  if (data.data.auth === true || data.data.auth === 'true') {
                    this.auth = true;
                  } else {
                    this.auth = false;
                  }
                });
            },
            mySubmitMethod() {
              console.log('submit');
              if (this.client_id && this.client_secret && this.api_key) {
                this.socket.emit('envs', {
                  client_id: this.client_id,
                  client_secret: this.client_secret,
                  api_key: this.api_key,
                  token_expiry: this.token_expiry,
                  auth: this.auth,
                });
              }
            },
          },
        }).mount('#app')
      </script>
  </body>
</html>